{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

{{- /* Load music notation libraries for posts that need them */ -}}
{{- if .Params.music -}}
<script src="/js/raphael.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/underscore-min.js"></script>
<script src="/js/vexflow-min.js"></script>
<script src="/js/tabdiv-min.js"></script>
<script src="/js/chord.js"></script>
<script src="/js/chart.js"></script>
<script src="/js/music-post.js"></script>
{{- end -}}
